#contact {
    width: 100%;
    min-height: 100%;
    // background: #16222A;
    // background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
    // background: linear-gradient(to bottom, #3A6073, #16222A);
    position: absolute;
    z-index: 1;
    left: 150%;
    top: 0;
    transition: .7s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    transform-origin: right;
    transform: scaleX(0);
}

#contact-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

#contact-close {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 20px;
    z-index: 1;

    >i {
        font-size: 40px;
        color: #3A6DF0;
        transition: .4s ease-in-out;
    }

    &:hover {
        >i {
            transform: rotate(180deg);
        }
    }

    >div {
        height: 30px;
        width: 30px;
        position: absolute;
        cursor: pointer;
        border-radius: 50%;
        background-color: #dc2743;
        top: -5px;
        left: 1px;
        z-index: 1;
    }
}

#contact-box {
    width: 70%;
    // background-color: #b5c3ca;
    // box-shadow: 0px 0px 58px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px -100px rgba(0, 0, 0, 0.1);
    background-color: rgba(16 18 27 / 40%);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

#contact-box-title {
    width: 100%;
    padding: 50px 0 10px 60px;
    display: flex;
    align-items: center;

    >h3 {
        color: white;
        font-family: 'Montserrat-SemiBold';
        text-transform: capitalize;
        font-size: 70px;
    }
}

#contact-box-contetn {
    width: 100%;
    background-color: rgba(16 18 27 / 40%);
    border-radius: 0px 0px 10px 10px;

    >section {
        height: 500px;
    }
}

#box-contetn-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;

    >.info-card {
        width: 300px;
        display: flex;
        margin-bottom: 20px;

        #info-card-img {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;

            >i {
                font-size: 25px;
                color: white;
            }
        }

        #info-card-text {
            width: 80%;
            height: 100%;

            >h3 {
                font-size: 18px;
                font-family: 'Montserrat-SemiBold';
                color: white;
            }

            >p {
                color: #a9a9a9;
                font-size: 16px;
                font-family: 'Montserrat-Medium';
                margin-top: 5px;
            }
        }
    }

    #social {
        width: 500px;
        height: 100px;
        display: flex;
        align-items: center;
        margin-top: 5px;

        >a {
            width: 60px;
            height: 60px;
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 45px;
            transition: .4s ease-in-out;
            border-radius: 5px;

            >i {
                transform: rotate(-45deg);
                font-size: 25px;
                transition: .2s ease-in-out;
                color: white;
                transform-origin: center;
            }

            &:hover {
                background-color: #16222A;

                >i {
                    transform: rotate(-45deg) scale(1.2);
                }
            }

            &:nth-of-type(1) {
                background-color: #0A66C2;
            }

            &:nth-of-type(2) {
                background-color: #14191E;
            }

            &:nth-of-type(3) {
                background: #f09433;
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            }

            &:nth-of-type(4) {
                background-color: #3DE65C;
            }
        }
    }
}

#box-contetn-form {
    padding-left: 20px;
    display: flex;
    align-items: center;

    >form {
        display: flex;
        flex-direction: column;
        align-items: start;

        >* {
            margin-bottom: 10px;
        }

        >input {
            background-color: inherit;
            border: none;
            outline: none;
            width: 400px;
            height: 50px;
            border-top: 2px solid white;
            color: white;
            font-family: 'Montserrat-Medium';
            font-size: 16px;

            &::placeholder {
                color: #fff;
                text-transform: uppercase;
                font-family: 'Montserrat-Medium';
                letter-spacing: 3px;
            }
        }

        >textarea {
            background-color: inherit;
            width: 400px;
            border: none;
            outline: none;
            border-top: 2px solid #fff;
            color: #fff;
            font-family: 'Montserrat-Medium';
            font-size: 16px;
            resize: none;
            padding-top: 10px;

            &::placeholder {
                color: #fff;
                text-transform: uppercase;
                font-family: 'Montserrat-Medium';
                letter-spacing: 3px;
            }
        }

        >button {
            width: 150px;
            height: 50px;
            background-color: #3A6DF0;
            border: none;
            outline: none;
            font-family: 'Montserrat-Medium';
            color: #fff;
            text-transform: uppercase;
            transition: .2s ease-in-out;
            border-radius: 50px;

            >i {
                margin-left: 5px;
                transition: .2s ease-in-out;
            }

            &:hover {
                background-color: #0dc971;
                color: #16222A;

                >i {
                    color: #16222A;
                }
            }
        }
    }
}