#contact {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transform-origin: right;
  transform: scaleX(0);
}

#contact-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact-close {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 20px;
  z-index: 1;
}
#contact-close > i {
  font-size: 40px;
  color: #3A6DF0;
  transition: 0.4s ease-in-out;
}
#contact-close:hover > i {
  transform: rotate(180deg);
}
#contact-close > div {
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: #dc2743;
  top: -5px;
  left: 1px;
  z-index: 1;
}

#contact-box {
  width: 70%;
  background-color: rgba(16, 18, 27, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#contact-box-title {
  width: 100%;
  padding: 50px 0 10px 60px;
  display: flex;
  align-items: center;
}
#contact-box-title > h3 {
  color: white;
  font-family: "Montserrat-SemiBold";
  text-transform: capitalize;
  font-size: 70px;
}

#contact-box-contetn {
  width: 100%;
  background-color: rgba(16, 18, 27, 0.4);
  border-radius: 0px 0px 10px 10px;
}
#contact-box-contetn > section {
  height: 500px;
}

#box-contetn-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
#box-contetn-info > .info-card {
  width: 300px;
  display: flex;
  margin-bottom: 20px;
}
#box-contetn-info > .info-card #info-card-img {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#box-contetn-info > .info-card #info-card-img > i {
  font-size: 25px;
  color: white;
}
#box-contetn-info > .info-card #info-card-text {
  width: 80%;
  height: 100%;
}
#box-contetn-info > .info-card #info-card-text > h3 {
  font-size: 18px;
  font-family: "Montserrat-SemiBold";
  color: white;
}
#box-contetn-info > .info-card #info-card-text > p {
  color: #a9a9a9;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  margin-top: 5px;
}
#box-contetn-info #social {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#box-contetn-info #social > a {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 45px;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}
#box-contetn-info #social > a > i {
  transform: rotate(-45deg);
  font-size: 25px;
  transition: 0.2s ease-in-out;
  color: white;
  transform-origin: center;
}
#box-contetn-info #social > a:hover {
  background-color: #16222A;
}
#box-contetn-info #social > a:hover > i {
  transform: rotate(-45deg) scale(1.2);
}
#box-contetn-info #social > a:nth-of-type(1) {
  background-color: #0A66C2;
}
#box-contetn-info #social > a:nth-of-type(2) {
  background-color: #14191E;
}
#box-contetn-info #social > a:nth-of-type(3) {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
#box-contetn-info #social > a:nth-of-type(4) {
  background-color: #3DE65C;
}

#box-contetn-form {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
#box-contetn-form > form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#box-contetn-form > form > * {
  margin-bottom: 10px;
}
#box-contetn-form > form > input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 400px;
  height: 50px;
  border-top: 2px solid white;
  color: white;
  font-family: "Montserrat-Medium";
  font-size: 16px;
}
#box-contetn-form > form > input::-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  letter-spacing: 3px;
}
#box-contetn-form > form > input::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  letter-spacing: 3px;
}
#box-contetn-form > form > textarea {
  background-color: inherit;
  width: 400px;
  border: none;
  outline: none;
  border-top: 2px solid #fff;
  color: #fff;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  resize: none;
  padding-top: 10px;
}
#box-contetn-form > form > textarea::-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  letter-spacing: 3px;
}
#box-contetn-form > form > textarea::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  letter-spacing: 3px;
}
#box-contetn-form > form > button {
  width: 150px;
  height: 50px;
  background-color: #3A6DF0;
  border: none;
  outline: none;
  font-family: "Montserrat-Medium";
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  border-radius: 50px;
}
#box-contetn-form > form > button > i {
  margin-left: 5px;
  transition: 0.2s ease-in-out;
}
#box-contetn-form > form > button:hover {
  background-color: #0dc971;
  color: #16222A;
}
#box-contetn-form > form > button:hover > i {
  color: #16222A;
}/*# sourceMappingURL=contact.master.css.map */